@font-face {
    font-family: 'GANGWON STATE';
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    src: url('https://cdn.jsdelivr.net/gh/fonts-archive/GANGWONSTATE/GANGWONSTATE.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/GANGWONSTATE/GANGWONSTATE.woff') format('woff'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/GANGWONSTATE/GANGWONSTATE.otf') format('opentype'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/GANGWONSTATE/GANGWONSTATE.ttf') format('truetype');
}
